fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic[email]
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
cryptography>=41.0.0
python-dotenv
email-validator
psycopg2-binary
